{
  email simjenner3@gmail.com
}

simonj.dev {
  log {
    output file /var/log/caddy/simonj.dev.access.log
  }
  reverse_proxy gostatic:8043
}

messenger.simonj.dev {
  log {
    output file /var/log/caddy/messenger.simonj.dev.access.log
  }
  reverse_proxy msserver:8080
}

spacexlaunchbot.dev {
  log {
    output file /var/log/caddy/spacexlaunchbot.dev.access.log
  }
  reverse_proxy spacexlaunchbot-webserver:8080
}

podcasts.simonj.dev {
  log {
    output file /var/log/caddy/podcasts.simonj.dev.access.log
  }
  root * /podcasts
  file_server
}
